fastapi
uvicorn[standard]
python-multipart
python-dotenv
httpx
openai
pymongo
bcrypt
azure-search-documents
azure-storage-blob
azure-ai-documentintelligence
azure-cognitiveservices-speech
scikit-learn
pandas
joblib
numpy
scipy
PyJWT