fastapi
uvicorn
pydantic
email-validator
pymongo
python-dotenv
python-multipart
httpx
PyJWT
bcrypt
azure-storage-blob
azure-cognitiveservices-speech
azure-ai-documentintelligence
azure-search-documents
openai
numpy
pandas
scikit-learn
joblib
requests